<div class="about">
    <h1 class="title is-2">About the creator...</h1>
    <p class="is-size-4">Kostas is a Web Developer residing in Athens, GR<br />
        This website was built based on the Rails official documentation guide as practice.<br />
        I decided to utilize <strong>Bulma</strong> for some visual styling as well as a bit of CSS.<br /><br />
        Hope you like it!</p>
</div>