// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment {
  text-align: center;
  padding: 10px;
  margin: 20px;
  a {
    color: black;
    transition-duration: 0.2s;
    border-radius: 0;
    padding: 10px;
  }
  a:hover {
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
  }
}

.new-comment {
  margin: 10px 100px;
  a {
    color: black;
    transition-duration: 0.2s;
    border-radius: 0;
    padding: 10px;
  }
  a:hover {
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
  }
}
